<%= form_with(model: image, :html => { multipart: true }) do |form| %> <%# make sure whole thing is in parenthesis before 'do' %>
  <% if image.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(image.errors.count, "error") %> prohibited this image from being saved:</h2>

      <ul>
        <% image.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <%# change from text_field to file_field and specify what formats to accept for picture %>

  <div>
    <%= form.label :picture, style: "display: block" %>
    <%= form.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>

<script type="text/Javascript">
  $('#image_picture').bind('change', function(){
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (seize_in_megabytes > 5) {
      alert('Max file size is 5MB');
    }
  });
</script>
